<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Password Generator</title>
</head>
<body>

<h1>One Click Application</h1>

<hr />
<h2>Password Generator</h2>
  <form method="post" action="./generate_password">

    <ul>
      <li>
        <input type="text" name="length" size=2 value="{{ length }}" />
        Length
      </li>
      
      <li>
        {% ifequal lcase "on" %}
            <input type="checkbox" name="lcase" value="on" checked />
        {% else %}
            <input type="checkbox" name="lcase" value="on" />
        {% endifequal %}
        Lowercase
      </li>
      <li>
        {% ifequal ucase "on" %}
            <input type="checkbox" name="ucase" value="on" checked />
        {% else %}
            <input type="checkbox" name="ucase" value="on" />
        {% endifequal %}
        Uppsercase
      </li> 
      <li>
        {% ifequal digit "on" %}
            <input type="checkbox" name="digit" value="on" checked />
        {% else %}
            <input type="checkbox" name="digit" value="on" />
        {% endifequal %}
        Digit
      </li>
      <li>
        {% ifequal symbol "on" %}
            <input type="checkbox" name="symbol" value="on" checked />
        {% else %}
            <input type="checkbox" name="symbol" value="on" />
        {% endifequal %}
        Symbol
      </li>
    </ul>

    <input type="submit" name="generate_password" value="Generate" />
    </form>

    {% if password %}
        <input type="text" value="{{ password }}">
    {% endif %}

    <hr />
    <a href="./">Back to Top</a>

</body>
</html>
